body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

#img1 {
  height: 30px;
  margin-top: 15px;
}

ul {
  font-size: 20px;
  color: #003E52;
  width: 800px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

li:hover {
  color: #6cadc2;
}

#img2 {
  width: 100vw;
}

.milieu {
  display: flex;
  margin-top: 100px;
}

.epices {
  text-align: end;
}

h5 {
  padding-bottom: 30px;
}

#img4 {
  width: 100vw;
  margin-bottom: 20px;
}

.titre2 {
  margin-right: 300px;
  margin-left: 300px;
  text-align: center;
  color: gray;
}

hr {
  margin-bottom: 20px;
}

i {
  font-size: 20px;
  color: gray;
  margin-bottom: 55px;
}

table {
  margin-left: 300px;
  margin-right: 300px;
  color: gray;
}

td {
  padding-left: 20px;
}

#img5 {
  height: 550px;
  width: 100vw;
  margin-top: 20px;
}

iframe {
  width: 100vw;
  filter: grayscale(100%);
  /*le filtre gris à appliquer sur l'iframe (carte google maps)*/
}

.contact h1 {
  margin-bottom: 50px;
}

footer {
  height: 200px;
  width: 100vw;
}

.contact {
  background: #003e52;
  color: white;
  text-align: center;
  padding: 30px;
  line-height: 0.5px;
}

span a {
  color: white !important;
}